{% extends 'pages/base.html' %}
{%load static%}
{% load i18n %}

{% block title %} {% trans "Create Vinyl" %} {% endblock %}

{% block content %}
<div class="container">
    <h1>{% trans "Create a New Vinyl" %}</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="mb-3">
            <label for="id_name">{% trans "Name" %}</label>
            {{ form.name }}
        </div>

        <div class="mb-3">
            <label for="id_playlist">{% trans "Playlist" %}</label>
            <select class="form-select" aria-label="Default select example">
                <option selected>{%trans "Open this select menu" %}</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
            
        </div>

        <div class="mb-3">
            <label for="id_size">{% trans "Size" %}</label>
            {{ form.size }}
        </div>

        <div class="mb-3">
            <label for="id_colour">{% trans "Colour" %}</label>
            {{ form.colour }}
        </div>

        <div class="mb-3">
            <label for="id_price">{% trans "Price:" %}</label>
            200COP
        </div>

        <div class="mb-3">
            <label for="id_image">{% trans "Image" %}</label>
            <input class="form-control" type="file" id="formFile">
        </div>

        <button type="submit" class="btn btn-primary">{% trans "Create Vinyl" %}</button>
    </form>

    <br>
    <a href="{% url 'vinyl_list' %}" class="btn btn-secondary">{% trans "Back to List" %}</a>
</div>
{% endblock %}
