
{% extends 'pages/base.html'%}
{% block title%} 'Options' {% endblock%}
{% block content %} 
      
    
<body class="index-page">
    <div class="vinyl-container">
        <a class="button_" href="{% url 'vinyl_create' %}">
            <div class="vinyl-wrapper">
                <svg viewBox="0 0 400 200" class="vinyl-label">
                    <defs>
                        <path id="arc1" d="M 0 170 A 200 100 0 0 1 400 170" />
                    </defs>
                    <text class="arc-text">
                        <textPath href="#arc1" startOffset="50%" text-anchor="middle">
                            Create my own vinyl
                        </textPath>
                    </text>
                </svg>
                <div class="vinyl center-red"></div>
            </div>
        </a>

        <a class="button_" href="{% url 'vinyl_list' %}">
            <div class="vinyl-wrapper">
                <svg viewBox="0 0 400 200" class="vinyl-label">
                    <defs>
                        <path id="arc2" d="M 0 170 A 200 100 0 0 1 400 170" />
                    </defs>
                    <text class="arc-text">
                        <textPath href="#arc2" startOffset="50%" text-anchor="middle">
                            Search a vinyl
                        </textPath>
                    </text>
                </svg>
            <div class="vinyl center-blue"></div>
            </div>
        </a>
        
        
    </div> 

    
       

</body>




{% endblock %}