{% extends 'pages/base.html' %}
{% load i18n %}
{%load static%}
{% block title %}  {% trans "Vinyls" %} {% endblock %}
{% block content %}
<body class="vinyl-list-page">

  <div class="vinyl-grid">
    {% for vinyl in vinyls %}
    <div class="vinyl-card">
      <img src="https://www.pngmart.com/files/6/Vinyl-PNG-Free-Download.png" class="vinyl-img" alt="Vinyl">
      <div class="vinyl-info">
        <a href="{% url 'show' id=vinyl.id %}" class="vinyl-btn">{{ vinyl.name }}</a>
      </div>
    </div>
    {% endfor %}
  </div>

</body>
{% endblock %}