{% extends 'pages/base.html' %}
{% load i18n %}
{%load static%}
{% block title %} {% trans "Vinyls" %} {% endblock %}
{% block content %}
<div class="vinyl-card">
    <div class="vinyl-image">
        <img src="https://www.pngmart.com/files/6/Vinyl-PNG-Free-Download.png" alt="Vinyl Design">
    </div>
    <div class="vinyl-details">
        <h2>{{ vinyl.name }}</h2>
        <p><strong>{% trans "Color:" %}</strong> {{ vinyl.colour }}</p>
        <p><strong>{% trans "Size" %}</strong> {{ vinyl.size }} inches</p>
        <p><strong>{% trans "Price" %}:</strong> ${{ vinyl.price }}</p>
        <a href="{% url 'cart_index' %}">
            <button class="buy-btn">{% trans "Add Cart" %}</button>
        </a>
        
    </div>
</div>
{% endblock %}