{% extends 'pages/base.html' %}
{%load static%}
{% load i18n %}

{% block title %}t{% trans "Carrito" %} {% endblock %} 
{% block content %}
{% if messages %}
     {% for message in messages %}
         <div>
         </div>
     {% endfor %}
{% endif %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <h1> {% trans "Productos Disponibles" %}</h1>
            <ul>
                {% for key, vinyl in vinyls.items %}
                <li>
                    {% trans "ID:" %} {{ key }} -
                    {% trans "Nombre:" %} {{ vinyl.name }} -
                    {% trans "Precio:" %} {{ vinyl.price }} -
                    <form method="post" action="{% url 'cart_add' key %}">
                        {% csrf_token %}
                        <button type="submit"> {% trans "Añadir producto al Carrito:" %}</button>
                    </form>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-12">
            <h1> {% trans "Productos en el Carrito:" %}</h1>
            <ul>
                {% for key, vinyl in cart_vinyls.items %}
                <li>
                    {% trans "ID:" %} {{ key }} -
                    {% trans "Nombre:" %} {{ vinyl.name }} -
                    {% trans "Precio:" %} {{ vinyl.price }} 
                </li>
                {% endfor %}
            </ul>
            <form method="post" action="{% url 'cart_removeAll' %}">
                {% csrf_token %}
                <button type="submit">{% trans "Remueve todos los productos del Carrito" %}</button>
            </form>
            
            {% if cart_vinyls %}
                <ul>
                    {% for item in cart_items %}
                        <li>{{ item.vinyl.name }} - ${{ item.vinyl.price }}</li>
                    {% endfor %}
                </ul>
                <p>{% trans "Total: $" %}{{ total_price }}</p>

                {% if user.is_authenticated %}
                    <a href="{% url 'order' %}" class="btn btn-primary">{% trans "Comprar" %}</a>                  
                {% else %}
                    <a href="{% url 'login' %}" class="btn btn-warning">{% trans "Inicia Sesion para Comprar" %}</a>
                {% endif %}

            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
