{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
<div class="shipping-container">
    <h2 class="shipping-title">Detalles del Envío</h2>

    <div class="shipping-info">
        <p><strong>ID del pedido:</strong> {{ order.id }}</p>
        <p><strong>Estado:</strong> {{ shipping.status }}</p>
        <p><strong>Número de seguimiento:</strong> {{ shipping.tracking_number }}</p>
        <p><strong>Entrega estimada:</strong> {{ shipping.estimated_delivery }}</p>
    </div>
</div>
{% endblock %}
