{% extends 'pages/base.html' %}
{%load static%}
{% load i18n %}

{% block title %}{% trans "Home" %}{% endblock %}
{% block content %} 

<body class="home-page">
  <div class="logo-container">
    <!-- Vinilo separado -->
    <div class="vinyl-disc"></div>

    <!-- Cuadro encima -->
    <div class="logo-box">
      <div class="letters">
        <span class="letter-r">R</span><span class="letter-v">V</span>
      </div>
      <div class="subtitle">
        <span class="retro">Retro</span><span class="vibes">Vibes</span>
      </div>
    </div>
  </div>
  <br>
  <br>

  <a href="{% url 'index' %}" class="vinyl-btn">
    <div class="d-grid gap-2 col-6 mx-auto">
      <button class="btn btn-primary" type="button">{% trans "Buy your own vinyl" %}</button>
    </div>
  </a>
</body>






{% endblock %}